html, body{
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;  
    margin: 0;
    padding: 0;
  }
  
/* FONT  */
@font-face{
    font-family: myFont;
    src:url('./Fonts/Garet-Book.otf');
  }
  *{
    font-family: myFont;
  }
  
  @font-face{
    font-family: myFontBold;
    src:url('./Fonts/Mont-HeavyDEMO.otf');
  } 
  h1, .fontSpecial{
    font-family: myFontBold;
  }   

  /* TEXT HIGHLIGHT  */
::selection {
    background: #46fa8b;
    color: #000;
  }
 
/* SCROLL BAR  */
    ::-webkit-scrollbar {
    display: none;
}
button {
  background-color: #46fa8b;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background-color: #66fc9f;
}

.MenuItem {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid lightgrey;
  /* transition: 0.5s; */
  height: 120px;
  background-color: #f4f4f4;
  color: black;
  font-size: 14px;
}

.MenuItem:hover {
  border: 1px solid #FF3380;
  color: #FF3380
}

.EditorDiv{
  width: 80vw;
  padding: 20px;
  border-radius: 10px;
  margin-top: 0;
}

.MainDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100%;
  background: white;
  color: black;
  background-image: url('../Home/Texture2.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

input{
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid grey;
  font-size: 12px;
}

@media screen and (max-width: 1000px) { 
  .DPhider {
    display: none;
  }
  .EditorDiv{
    width: 95vw;
  }
}