html, body{
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;  
    margin: 0;
    padding: 0;
  }
  
/* FONT  */
@font-face{
    font-family: myFont;
    src:url('./Fonts/Garet-Book.otf');
  }
  *{
    font-family: myFont;
  }
  
  @font-face{
    font-family: myFontBold;
    src:url('./Fonts/Mont-HeavyDEMO.otf');
  } 
  h1, .fontSpecial{
    font-family: myFontBold;
  }   

  /* TEXT HIGHLIGHT  */
::selection {
    background: #46fa8b;
    color: #000;
  }
 
/* SCROLL BAR  */
    ::-webkit-scrollbar {
    display: none;
}

button {
  background-color: #46fa8b;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #66fc9f;
}